
body { 
	background-color: black;
	background-image: url(../img/background.jpg);
	color: #CFB884;
	text-shadow: 1px 1px 5px #30131A;
	filter: dropshadow(color=#30131A, offx=1, offy=1); 
}

div#main
{
	left: 28px;
	top: 20px;
	width: 301px;
}
h1, h2, #praktisch { 
	color: #EBA605;
}

a:link, a:active, a:visited, a:hover {
	color: #CFB884;
}





